.container {
  text-align: center;
}
/* .app{
  max-width: 100%vw;
} */
.navbar{
  max-width: 100%vw;
}
.navbar a{
  margin: auto 0;
}
div.nav{
  display: flex;
  justify-content: space-between
}
.hero-body{
  padding: .4rem 0;
  margin:0;
}
div.box{
  margin:15px 10px;
  /* max-height: 120px; */
}
.add, .editor{
  border:none;
}
/* .add:hover, .editor:hover{
  background-color:rgb(165, 25, 25);
  color:black;
} */
a:link, a:visited {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

td {
  border: 0;
}
