// *********************************
// global
// *********************************
:root {
  background-color: #f5f5f5;
  width: 100vw;
}

.center {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

.container {
  padding: 5px;

  .moveMe {
    margin: 5px 20px;
  }
}
// once the device is larger than 425px the account cards will render as smaller than full width.
@media only screen and (min-device-width: 425px) and (-webkit-min-device-pixel-ratio: 1) {
  div {
    .accounts {
      display: flex;
      flex-direction: column;
      align-items: center;

      .box,
      .card {
        font-size: 1.5rem;
        width: 450px;
        max-width: 90vw;
        display: flex;
        justify-content: center;
        background-color: white;
        border-radius: 10px;
      }
    }
  }
}
// *********************************
// Start per page style adjustments
// *********************************

// *********************************
// DefaultHeader.js mods
// *********************************
header {
  border-bottom-style: groove;
  justify-content: space-between;
  color: #f5f5f5;
  background-color: #4068ee;
  width: vw;
  padding: 5px;

  .headerL {
    font-size: 2rem;
  }

  .headerR {
    color: #000;
    display: flex;
    align-content: center;
  }
}

// *********************************
// Stack.js modifiers
// *********************************
.card-container {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;

  .card {
    background-color: #fff;
    margin: 1rem;
    width: 350px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
  }
}
// *********************************
// Accounts modifiers
// *********************************
// div a .box {
//   display: flex;
//   font-size: 2rem
//   justify-content: center;
// }
.has-text-centered .button {
  margin: 5px;
}
