// GLOBAL
a:link, a:visited {
  color: black;
  text-decoration: none;
} 

.container {
  text-align: center;
}

.navbar a{
  margin: auto 10px;
}
div.nav{
  display: flex;
  justify-content: flex-end;
}
div.column {
display: flex;
justify-content: center;
}
.hero-body{
  padding: .4rem 0;
}
div.box{
  margin:15px 10px;
  width:300px;
  min-height: 100px;
}
p.box{
  margin:5px;
}
.add, .editor{
  border:none;
  background-color: inherit;
}

.new-account{
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
