// GLOBAL
a:link, a:visited {
  color: black;
  text-decoration: none;
} 
.container {
  text-align: center;
}
div.nav{
  display: flex;
  justify-content: flex-end;
}
nav.navbar div{
  display: flex;
  align-items: center;
}

div.columns .column {
display: flex;
justify-content: center;
}
// .add{
//   border:none;
// }

// .new-account{
//   display: flex;
//   flex-direction: column;
//   max-width: 400px;
// }
